---
layout: archive
permalink: /tags/
title: "Posts by Tag"
author_profile: false
sidebar:
  nav: "blog"
excerpt: "Stuff I would love to share, grouped by tags."
header:
  overlay_image: /assets/images/blog.jpg
  og_image: /assets/images/blog.jpg
  caption: "Photo taken by me on the way from Kamand to Mandi."
---

{% include group-by-array collection=site.posts field="tags" %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}