---
layout: archive
permalink: /year-archive/
title: "Posts by year"
author_profile: false
sidebar:
  nav: "blog"
excerpt: "Stuff I would love to share, grouped by year."
header:
  overlay_image: /assets/images/blog.jpg
  og_image: /assets/images/blog.jpg
  caption: "Photo taken by me on the way from Kamand to Mandi."
---

{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
