@layer base, starlight, theme, components, utilities;
@import "tailwindcss";  
@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --font-sans: 'Inter Variable', sans-serif;
  --font-mono: 'Fira Code Variable', monospace;
  --font-title: 'BBH Sans Bogle', sans-serif;
  /* Your preferred accent color. blue is closest to Starlight’s defaults. */
  --color-accent-50: var(--color-blue-50);
  --color-accent-100: var(--color-blue-100);
  --color-accent-200: var(--color-blue-200);
  --color-accent-300: var(--color-blue-300);
  --color-accent-400: var(--color-blue-400);
  --color-accent-500: var(--color-blue-500);
  --color-accent-600: var(--color-blue-600);
  --color-accent-700: var(--color-blue-700);
  --color-accent-800: var(--color-blue-800);
  --color-accent-900: var(--color-blue-900);
  --color-accent-950: var(--color-blue-950);
  /* Your preferred gray scale. Zinc is closest to Starlight’s defaults. */
  --color-gray-50: var(--color-zinc-50);
  --color-gray-100: var(--color-zinc-100);
  --color-gray-200: var(--color-zinc-200);
  --color-gray-300: var(--color-zinc-300);
  --color-gray-400: var(--color-zinc-400);
  --color-gray-500: var(--color-zinc-500);
  --color-gray-600: var(--color-zinc-600);
  --color-gray-700: var(--color-zinc-700);
  --color-gray-800: var(--color-zinc-800);
  --color-gray-900: var(--color-zinc-900);
  --color-gray-950: var(--color-zinc-950);
}

/* Site title font styling */
.site-title span {
  font-family: var(--font-title);
  font-weight: 200;
  font-size: 1.535em;
}

header {
  backdrop-filter: blur(var(--blur-lg));
  background-color: color-mix(in srgb, var(--sl-color-bg-nav) 30%, transparent);
  border-color: color-mix(in srgb, var(--sl-color-hairline-shade) 50%, transparent);
  border-bottom-width: 0.125rem;
}
